*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(87, 80, 81, 0.4);
}

.main{
    height: 100%;
    width: 100%;
    background-color: hsl(344, 43%, 78%);
    display: flex;
}

.part1{
    height: 100%;
    width: 26%;
    background-color: rgb(161, 141, 141);
}

.part2{
    height: 100%;
    width: 67%;
    /* background-color: blue; */
    background-image: url("https://images.unsplash.com/photo-1556347961-f9521a88cb8a?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    /* object-fit: cover; */
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(87, 80, 81, 0.4);

}

.part3{
    height: 100%;
    width: 7%;
    background-color: rgb(55, 131, 55);
}

.text-div{
    /* height: 300px; */
    position: absolute;
    width: 400px;
    /* background-color: yellow; */
    left: 5%;
    top: 50%;
    transform: translate(0,-50%);
}

.text-div>h1{
    font-size: 85px;
    letter-spacing: 5px;
    font-family:sans-serif;
    font-weight: 900;
    line-height: 80px;
    text-transform: uppercase;
    /* position: relative; */
    color: rgb(48, 38, 38);
}

.small-img-div{
    height: 350px;
    width: 300px;
    background-image: url("https://images.unsplash.com/photo-1611601322175-ef8ec8c85f01?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    /* background-color: pink; */
    position: absolute;
    top: 40%;
    right: 5%;
    transform: translate(0,-50%);
}

.vertical-text{
    position: absolute;
    width: 100%;
    transform: rotate(90deg);
    right: -47%;
    top: 90%;
}

.vertical-text h1{
    position: absolute;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 5px;
    font-family: sans-serif;
    color: transparent ;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;
}

.nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 450px;
    /* background-color: red; */
    left :1%;
    top: 5%;
}
.nav img{

    height: 50px;
}
.nav h5{
    font-size: 30px;
    color: white;

}